html{
  scroll-behavior: smooth;
  font-size: 60%;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  position: relative;
  background-color: white;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

/*navbar*/
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  padding: 1.5rem 0;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin: 0 3rem;
}

.nav-container h3{
  font-weight: 700;
}

.nav-links{
  display: flex;
  gap: 2rem;
}

.nav-links li{
  font-weight: 600;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.nav-links li:hover{
  color: #147efb;
}