html{
  scroll-behavior: smooth;
  scroll-padding: 10rem;
  font-size: 60%;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  position: relative;
  background-color: white;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

a:hover{
  color: #005B9A;
}

@media screen and (max-width:450px){
  
}

@media screen and (max-width:600px){
  .toggle-links{
    display: contents !important;
  }
  .links-container{
    display: none !important;
  }
}

/*navbar*/
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  padding: 1.5rem 0;
  background-color: rgb(18, 18, 18);
  color: white;
  z-index: 999;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin: 0 3rem;
}

.nav-container h3{
  font-weight: 700;
}

.nav-links{
  display: flex;
  gap: 2rem;
}

.nav-links li{
  font-weight: 600;
  cursor: pointer;
}

.toggle-links{
  display: none;
}

.mobile-nav{
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(18, 18, 18);
}

.show-mobile{
  display: block;
}

.toggle-mobile{
  display: block;
  text-align: right;
  margin:2rem 2rem 0 0;
  color: white;
  font-size: 2.5rem;
}

.mobile-links{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 80vh;
}

.mobile-links a{
  color: white;
}

/* home page */
.homepage{
  color: white;
}

.intro{
  background: url(./images/portfolio-bg.png) center/cover no-repeat;
  height: 90vh;
  margin-top: 10rem;
  padding-left: 15%;
}
.intro h1,
.intro p{
  width: 50%;
}
.intro h1{
  padding-top: 10%;
  font-size: 7rem;
  margin-bottom: 2rem;
}

.intro p{
  margin-top: 0;
  font-size: 3rem;
}

.socials-links{
  display: flex;
  gap: 2rem;
}

.socials-links li{
  width: 40px;
}

.socials-links li img{
  width: 100%;
}

.tech-stack{
  margin-top: 10rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.tech-stack h3{
  display: flex;
  align-items: center;
  gap: 3rem;
  width: max-content;
  font-size: 2.5rem;
}

.tech-items{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.tech-items .item{
  display: flex;
  gap: 0;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.tech-items .item:hover{
  transform: translateY(-10px)
}

/*about section*/
.about-section{ 
  background-color: rgb(199, 198, 198);
  
}

.about-container{
  display: flex;
  align-items: center;
  gap: 6rem;
  margin: 0 15%;
  padding: 9rem 0;
}

.about-img{
  background: url(./images/about-section/about-img.jpg) center/cover no-repeat;
  height: 400px;
  width: 100%;
  border-radius: 15px;
  position: relative;
}

.circular-text .img-text{
  height: 250px;
}

.circular-text .img-text{
  position: absolute;
  bottom: -70px;
  right: -70px;
}

.circular-text .computer-icon{
  height: 50px;
}

.circular-text .computer-icon{
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.rotate {
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.about-me{
  width: 100%;
}

.about-me h4{
  margin: 0;
  color: #005B9A;
  font-family: 'Roboto Slab', serif;
  font-size: 2.5rem;
}

.about-me h3{
  margin-top: 1.5rem;
  font-size: 3rem;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  color: rgb(16, 14, 14);
}

.about-me p{
  font-size: 1.8rem;
  color: #6d6d6d;
}

/* projects */
.project-section{
  background-color: rgb(220, 219, 219);
}

.project-header, .projects-container{
  margin: 0 15%;
}

.project-header h3{
  margin-top: 0;
  padding-top: 5rem;
  margin-bottom: 1rem;
  font-family: 'Roboto Slab', serif;
  color: #005B9A;
  font-size: 2.5rem;
}

.project-header h2{
  margin-top: 0;
  font-size: 3rem;
  font-family: 'Merriweather', serif;
  color: rgb(16, 14, 14);
}

.projects-container{
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 8rem 0;
}

.project{
  display: flex;
  align-items: center;
  gap: 3rem;
}

.project-img, .project-description{
  width: 50%;
}

.project-img img{
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.project-description{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-description h4{
  font-size: 2.5rem;
  margin: 0;
  color: rgb(16, 14, 14);
}

.project-description p{
  color: #6d6d6d;
  font-size: 2.1rem;
  width: 70%;
  margin: 2rem auto;
}

.project-tech{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.project-tech .tech-item{
  display: flex;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem; 
}

.tech-item, .tech-item a{
  color: rgb(16, 14, 14);
  font-weight: 600;
}

/*contact*/
.contact-section{
  background-color: rgb(199, 198, 198);
  padding: 3rem 15%;
}

.contact-section h4{
  font-size: 2.5rem;
  color: #005B9A;
}

.contact-section h3{
  font-size: 3rem;
  color: rgb(16, 14, 14);
}

.contact-info{
  display: flex;
  gap: 3rem;
  align-items: center;
  color: #6d6d6d;
}

.contact-info li{
  display: flex;
  gap: 2rem;
  align-items: center;
  font-size: 1.5rem;
}

.info-icon{
  border-radius: 50%;
  border: 2px solid white;
  padding: 1rem;
}

.info-item p{
  color: #2c2c2c;
}

.info-item p:nth-child(1){
  margin-bottom: 1rem;
  font-weight: 700;
}

.info-item p:nth-child(2){
  margin-top: 0;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.info-item p:nth-child(2):hover{
  color: #005B9A;
}