html{
  scroll-behavior: smooth;
  font-size: 60%;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  position: relative;
  background-color: white;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

a:hover{
  color: #005B9A;
}

@media screen and (max-width:600px){
  .toggle-links{
    display: contents !important;
  }
  .links-container{
    display: none !important;
  }
}

/*navbar*/
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  padding: 1.5rem 0;
  background-color: rgb(49, 49, 49);
  color: white;
}

.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin: 0 3rem;
}

.nav-container h3{
  font-weight: 700;
}

.nav-links{
  display: flex;
  gap: 2rem;
}

.nav-links li{
  font-weight: 600;
  cursor: pointer;
}

.toggle-links{
  display: none;
}

.mobile-nav{
  display: none;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgb(49, 49, 49);
}

.show-mobile{
  display: block;
}

.toggle-mobile{
  display: block;
  text-align: right;
  margin:2rem 2rem 0 0;
  color: white;
  font-size: 2.5rem;
}

.mobile-links{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  height: 80vh;
}

.mobile-links a{
  color: white;
}

/* home page */
.homepage{
  color: white;
}

.intro{
  background: url(./images/portfolio-bg.png) center/cover no-repeat;
  height: 90vh;
  margin-top: 10rem;
  padding-left: 15%;
}
.intro h1,
.intro p{
  width: 50%;
}
.intro h1{
  padding-top: 10%;
  font-size: 7rem;
  margin-bottom: 2rem;
}

.intro p{
  margin-top: 0;
  font-size: 3rem;
}

.socials-links{
  display: flex;
  gap: 2rem;
}

.socials-links li{
  width: 40px;
}

.socials-links li img{
  width: 100%;
}

.tech-stack{
  margin-top: 10rem;
  display: flex;
  align-items: center;
  gap: 5rem;
}

.tech-stack h3{
  display: flex;
  align-items: center;
  gap: 3rem;
  width: max-content;
  font-size: 2.5rem;
}

.tech-items{
  display: flex;
  align-items: center;
  gap: 4rem;
}

.tech-items .item{
  display: flex;
  gap: 0;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.tech-items .item:hover{
  transform: translateY(-10px)
}